@import '../../theme/palette';

.todoList {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  align-content: space-between;
  width: 73%;
  padding: 0 30px;
  background-color: $paletteColor2;
  border-radius: 2px;
    overflow: hidden;

  h3 {
    margin: 25px 0;
    font-size: 20px;
    font-weight: 300;
    color: $paletteColor4;
  }

  hr {
    height: 1px;
    margin: 0 -30px 30px;
    background-color: $paletteColor11;
    border: none;
  }

}

.todoInStart {
    transform: scale(.3);
    opacity: .01;
}

.todoInEnd {
    transform: translateX(0%);
    transition: opacity 700ms ease-out,
                transform 700ms ease-out;
    opacity: 1;
}

.todoOutStart {
    transform: scale(1);
    opacity: 1;
}

.todoOutEnd {
    transform: translateX(100%);
    transition: opacity 700ms ease-out,
                transform 700ms ease-out;
    opacity: .01;
}
